:root {
    --first-color: rgb(27, 28, 36);
    --second-color: rgb(120, 125, 143);
    --third-color: rgb(37, 40, 48);
}

html {
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 400;
}

body {
    background-color: var(--first-color);
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__input--box{
    width: 78vw;
    margin: 10px 10px;
    height: 44px;
    display: flex;
    position: relative;
}

.header__input--box::after {
    content: url('./assets/lupa.png');
    position: absolute;
    left: 14px;
    top: 10px;
    bottom: 0px;
}

.header__input {
    width: 100%;
    background-color: rgb(68, 72, 87, 0.5);
    opacity: 0.9;
    border: 0px;
    color: white;
    height: 100%;
    padding-left: 50px;
    font-size: 18px;
    border-radius: 6px;
    position: relative;
}


.header__input:focus {
    background-color: rgb(68, 72, 87, 0.8);
    outline: none;
}

.header__input::placeholder{
    justify-content: flex-start;
    color: rgb(180, 179, 177);
    font-size: 16px;
}


button {
    width: 80px;
    font-weight: 600;
    border: 0px;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 6px;
    height: 44px;
    margin: 8px 8px;
    margin-top: 10px;
    padding: 10px 10px;
}

button:focus{
    outline: none;
}

.header__button--sign{
    background-color: 	#47cf73;  
}

.header__button--sign:hover {
    background-color: 	#2fb45a;
}

.header__button--log{
    background: #444857;
    color: white;
}

.header__button--log:hover {
    background: #5a6074;
}

.main {
    height: 95vh;
    width: 93vw;
    position: absolute;
    right: 0px;
    margin: 8px 15px auto auto;
    background-image: linear-gradient(to left, rgba(29, 29, 29, 0.9), rgba(39, 41, 39, 0.8), rgba(255,0,0,0)), url('./assets/tumblr-safe-mode-header.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.main__container {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 46rem;
    flex-wrap: wrap;
}

.main__tittle{
    color: white;
    font-size: 4rem;
    line-height: 1.1;
}

.main__label--1 {
    background: #ffdd40;
    border-radius: 4px;
    font-size: 2.4rem;
    line-height: 95%;
    text-align: center;
    text-transform: uppercase;
    padding: 0.625rem 1rem 0.25rem;
    color: #000000;
    height: 40px;
    text-decoration: none;
    font-weight: 900;
}

.main__paragraph {
    color: rgb(206, 206, 206);
    font-weight: 300;
    font-size: 1.4rem;
    margin-top: -15px;
}

.main__label--2 {
    background: #ffd40d;
    color: black;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
    height: 20px;
    text-align: center;
    border-radius: 4px;
    line-height: 95%;
    padding: 10px 20px 12px;
    font-size: 17.5px;
    opacity: 0.9;

}

.main__label--2:hover {
    opacity: 1;
}







