footer {
    margin: 8rem 0rem 0rem 0rem;
    background-color: black;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.7;
    padding: 40px 80px 40px 80px;
}

footer address {
    color: #bbbfca;
    font-style: normal;
    font-size: 1.1rem;
}

footer span {
    color: white;
    font-size: 1.2rem;
}

footer hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255,255, 0.4), rgba(255, 255, 255, 0.75), rgba(255,255, 255, 0.4));
}

.link--original{
    color: #0ebeff;
    text-decoration: none;
}

footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 100px;
    border-right: 1px solid white;
}

.git{
    content: url("../../assets/github.svg");
    width: 52px;
    height: 52px;
    transition: 0.2s;
}

.git:hover {
    transform: translateY(-5px);
}

.twitter {
    content: url("../../assets/twitter.svg");
    width: 52px;
    height: 52px;
    transition: 0.2s;
}

.twitter:hover {
    transform: translateY(-5px);
}

.instagram {
    content: url("../../assets/instagram.svg");
    width: 52px;
    height: 52px;
    transition: 0.2s;
}

.instagram:hover  {
        transform: translateY(-5px);
}