#main {
    transition: margin-left .4s;
    padding: 5px;
    padding-left: 0px;
    margin-left: 0px;
}

.main {
    height: 100vh;
    width: 100vw;
    position: relative;
    right: 0px;
    margin: 8px 0px auto 0px;
    background-image: linear-gradient(to left, rgba(41, 41, 41, 0.9), rgba(39, 41, 39, 0.74), rgba(255, 255, 255, 0)), url('../../assets/main--background.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.main__container {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 47rem;
    flex-wrap: wrap;
    margin-right: 1rem;
}

.main__tittle{
    color: white;
    font-size: 4rem;
    line-height: 1.1;
}

.main__label--1 {
    background: #ffdd40;
    border-radius: 4px;
    font-size: 2.4rem;
    line-height: 95%;
    text-align: center;
    text-transform: uppercase;
    padding: 0.625rem 1rem 0.25rem;
    color: #000000;
    height: 40px;
    text-decoration: none;
    font-weight: 900;
    cursor: text;
}

.main__paragraph {
    color: rgb(216, 216, 216);
    font-weight: 400;
    font-size: 1.3rem;
    margin: -15px 1rem 2px 0px;
    transition: 0.2s;
}

.main__label--2 {
    background: #ffd40d;
    color: black;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
    height: 25px;
    text-align: center;
    border-radius: 4px;
    padding: 10px 20px 12px;
    font-size: 17.5px;  
    transition: 0.2s;
}

.main__label--2:hover {
    background: #ffdd40;
    transform: translateY(-3px);
}

.main__label--2:active {
 transform: translateY(1px);
}

.main__cards--container{
    display: flex;
    justify-content: space-evenly;
    width: 92vw;
    border: 1px solid transparent;
    margin: auto;
    margin-top: -2rem;
    position: relative;
}

.main__cards {
    background-color: rgb(43, 47, 59);
    /* opacity: 0.9; */
    padding: 1rem 1.5rem;
    border: 1px solid transparent;
    width: 33%;
}

.main__cards h2 {
    font-size: 1.25rem;
    color: white;
    font-weight: bold;
    border-bottom: 0.9px solid white;
    padding: 1px 7px 10px 7px;
}

.main__cards p {
    font-size: 1.125rem;
    text-align: justify;
    color: #c7c9d3;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.card--1{
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
}

.card--2{
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
}

.card--3{
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
}

.privacy {
    display: flex;
    justify-content: space-between;
    width: 1150px;
    border: 1px solid transparent;
    margin: 4rem auto auto auto;
}

.privacy__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 46%;
    margin-left: 3.5rem;
}

.privacy__left--top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
}

.privacy__left--h2{
    color: #0ebeff;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.privacy__left--tittle{
    font-size: 3.2rem;
    font-weight: bold;
    color: white;
    margin: 0px auto 0 auto;
}

.privacy__left--paragraph{
    color: #c7c9d3;
    font-size: 1.1rem;
    margin: 0.9rem auto 1.8 auto;
    text-align: justify;

}

.privacy__left--button {
    color: #ffffff;
    background-color: #444857;
    text-align: center;
    width: 170px;
    height: 45px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1.125rem;
    transition: 0.2s;
    margin-top: 0.5rem;
    /* padding: 1rem; */
}

.privacy__left--button:hover{
    background-color: #5a6074;
    cursor: pointer;
    transform: translateY(-0.3rem);
}

.privacy__left--button:active {
    transform: translateY(-0.1rem);
}

.privacy__left--bottom{
    margin: 0.9rem auto auto auto;
}

.privacy__left--list{
    color: #c7c9d3;
    list-style-type: none;
    margin: 10px auto auto 20px;

}

.privacy__left--list li {
    font-size: 1.3rem;
    margin: 1.2rem auto 1.2rem auto;
    line-height: 1.6;
    font-weight: 400;
    text-align: justify;
}

.privacy__left--list li span{
    color: white;
    font-weight: 600;
    font-size: 1.4rem;
}

.privacy__list--item{
    position: relative; 
}

.privacy__list--item::before{
    content: "";
    width: 30px;
    height: 2px;
    border-radius: 2px;
    position: absolute; 
    left: -42px; 
    top: 1.1rem;
    background: #0ebeff;
}

.privacy__right{
    width: 45%;
    position: relative;
}

.privacy__right--container{
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 1.8rem;
}

.privacy__right--container img {
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: top;
}

.privacy__right--subtittle {
    color: white;
    margin-top: 0.4rem;
    font-size: 1.1rem;
    padding-left: 5px;
}

.suggestion__container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: #2c303a;
    margin: 5rem 0rem 5rem 1rem;
}

.suggestion__container--lines{
    border-left: 2px solid  #ffd40d;
    height: 230px;
    /* position: relative; */
    transform: translateX(50%);
}

.suggestion__container div {
    width: 500px;
}

.suggestion__container h4 {
    font-size: 1.325rem;
    color: white;
    margin-bottom: 0.35rem;
}

.suggestion__align--h4{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}


.suggestion__container button {
    background: #ffd40d;
    color: black;
    height: 40px;
    border: 1px solid transparent;
    text-align: center;
    border-radius: 4px;
    padding: 10px 14px 10px;
    transition: 0.3s;
    margin-left: 1rem;
    width: 100px;
    font-weight: 600;
    font-size: 1.2rem;
}

.suggestion__container button:hover {
    cursor: pointer;
    background-color: #ffdd40;
    transform: translateY(-3px);
}

.suggestion__container button:active {
    transform: translateY(1px);
}

.suggestion__container p {
    color: #c7c9d3;
    font-size: 1.3rem;
    margin-top: 0.7rem;
}

.assets__container{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-grow: 1;
    margin-top: 1.5rem;
    width: 1150px;
    margin: auto;
}

.assets__left{
    position: relative;
    width: 470px;
    height: 520px;
    margin-right: 2rem;
}

.assets__left--container{
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0.7rem;
}


.assets__left--container img {
    width: 100%;
    border-radius: 0.2rem;
    object-fit: cover;
    object-position: top;
    height: 100%;
}

.assets__right{
    /* border: 1px solid red; */
    width: 45%;
    margin-left: 2rem;
}

.assets__right h2 {
    color: #0ebeff;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 0.6rem;
    margin-bottom: 0rem;
}

.assets__right h3 {
    font-size: 3.2rem;
    font-weight: bold;
    color: white;
    margin: 0px auto 0 auto;
}

.assets__right p {
    font-size: 1.3rem;
    margin: 1.2rem auto 1.2rem auto;
    line-height: 1.6;
    font-weight: 400;
    text-align: justify;
    color: #c7c9d3;
}

.example__cards--container{
    width: 1100px;
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-shrink: 1;
}

.card--example{
    border-radius: 0.6rem;
    border: 1px solid #ffdd40;
    width: 230px;
    height: 380px;
    box-shadow: 0px 2.3px 0px 0px #FFFFFF;
    transition: 0.5s;
}

.card--example:hover {
    /* transform: translateY(-5px); */
    transition: 0.3s;
    cursor: pointer;
    transform: translateY(-1.5rem);
}

.example__img{
    border: 1px solid transparent;
    border-radius: 2px;
    width: 200px;
    height: 200px;
    margin-left: 1rem;
}


.collab__mode--container {
    display: flex;
    position: relative;
    width: 1150px;
    margin: 7rem auto;
    justify-content: space-evenly;
}

.collab__mode--left{
    width: 50%;
}

.collab__mode--left h2 {
    color: #0ebeff;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 0.6rem;
    margin-bottom: 0rem;
}

.collab__mode--left h3 {
    font-size: 3.2rem;
    font-weight: bold;
    color: white;
    margin: 0px auto;
}

.collab__mode--left p {
    font-size: 1.3rem;
    margin: 1.2rem auto 1.2rem auto;
    line-height: 1.6;
    font-weight: 400;
    text-align: justify;
    color: #c7c9d3;
}

.collab__mode--left button {
    color: #ffffff;
    background-color: #444857;
    text-align: center;
    width: 170px;
    height: 45px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1.125rem;
    transition: 0.2s;
    margin-top: 0.5rem;
}

.collab__mode--left button:hover {
    background-color: #5a6074;
    cursor: pointer;
    transform: translateY(-0.3rem);
}

.collab__mode--left button:active{
    transform: translateY(-1px);
}

.collab__mode--right{
    width: 42%;
}

.collab__mode--right iframe {
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: top;
    height: 100%;
}

.feature__container {
    display: flex;
    flex-direction: column;
    width: 1150px;
    margin: 8rem auto;
}

.feature__container--top {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: auto;
}

.feature__container--top h2 {
    color: #0ebeff;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0.6rem auto 0 auto;
}

.feature__container--top h3{
    font-size: 3.2rem;
    font-weight: bold;
    color: white;
    margin: 0px auto;
}

.feature__container--top p {
    font-size: 1.3em;
    margin: 0.4rem auto 1.2rem auto;
    line-height: 1.6;
    font-weight: 400;
    text-align: justify;
    color: #c7c9d3;
}

.feature__container--bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.feature__bottom--left {
    width: 48%;
    padding: 1.5rem;
}

.feature__bottom--left img {
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: top;
    height: 400px;
}

.feature__bottom--left h4 {
    font-size: 1.325rem;
    color: white;
    margin-bottom: 1.3rem;
    font-weight: bold;
}

.feature__bottom--left p {
    font-size: 1.2rem;
    margin: 1.2rem auto 1.2rem auto;
    line-height: 1.6;
    font-weight: 400;
    text-align: justify;
    color: #c7c9d3;
}

.feature__bottom--left button {
    color: #ffffff;
    background-color: #444857;
    text-align: center;
    width: 130px;
    height: 45px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1.125rem;
    transition: 0.2s;
    margin-top: 0.5rem;
}

.feature__bottom--left button:hover{
    background-color: #5a6074;
    cursor: pointer;
    transform: translateY(-0.3rem);
}

.feature__bottom--left button:active{
    transform: translateY(-1px);
}

.feature__bottom--right {
    width: 48%;
    padding: 1.5rem;
}

.feature__bottom--right img {
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: top;
    height: 400px;
}

.feature__bottom--right h4 {
    font-size: 1.325rem;
    color: white;
    margin-bottom: 1.3rem;
    font-weight: bold;
}

.feature__bottom--right p {
    font-size: 1.2rem;
    margin: 1.2rem auto 1.2rem auto;
    line-height: 1.6;
    font-weight: 400;
    text-align: justify;
    color: #c7c9d3;
}

.feature__bottom--right button {
    color: #ffffff;
    background-color: #444857;
    text-align: center;
    width: 130px;
    height: 45px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1.125rem;
    transition: 0.2s;
    margin-top: 0.5rem;
}

.feature__bottom--right button:hover{
    background-color: #5a6074;
    cursor: pointer;
    transform: translateY(-0.3rem);
}

.feature__bottom--right button:active{
    transform: translateY(-1px);
}

.plans__container {
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: -2.5rem;
    flex-direction: column;
}

.plans__container--header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.plans__container--header h1 {
    font-size: 45px;
    color: white;
}

.plans__container--header div {
    display: flex;
    justify-content: space-around;
    height: 115px;
    width: 380px;
    position: relative;
}

.plan--selection {
    background-color: #9b9dad;
    width: 50%;
    height: 100%;
    border: 1px solid transparent;
    font-size: 1.3rem;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    line-height: 12rem;
    position: relative;
}

.plan--selection:hover {
    background-color:#a9abb8;
    cursor: pointer;
    transition: 0.2s;
}

#plan--selection--1 {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

.individual--actived{
    background-color: #47cf73;
    transform: translateY(3px);
    border: 3px solid black;
    width: 50%;
    height: 100%;
    font-size: 1.3rem;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    line-height: 12rem;
    position: relative;
    transition: 0.2s;
}

.individual--actived:hover {
    cursor: pointer;
}

#plan--selection--1::before {
    content: url(../../assets/individual.png);
    position: absolute;
    top: -25.5px;
    left: 76px; 
}

#plan--selection--2 {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.team--actived {
    background-color:#ffdd40;
    transform: translateY(3px);
    border: 3px solid black;
    width: 50%;
    height: 100%;
    font-size: 1.3rem;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    line-height: 12rem;
    position: relative;
    transition: 0.2s;
    cursor: pointer;
}


#plan--selection--2::before {
    content: url(../../assets/team.png);
    position: absolute;
    top: -25.5px;
    right: 78px;
}


.plans__individual {
    width: 1000px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-top: 1.5rem;
    display: block;
}

.individual__show--container{
    display: none;
}

.individual__top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.individual__all--cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top: 8px solid red;
    border-bottom: 1px solid gray;
    padding-bottom: 5rem;
    padding-top: 1rem;
    margin-top: 1.1rem;
    width: 23%;
}

.individual__all--cards h3 {
    font-size: 1.4rem;
    font-weight: bold;
}

.individual__all--cards sup {
    font-size: 1.5rem;
    margin: 2px;
}

.individual__all--cards strong{
    color: black;
    font-size: 2rem;
}

.individual__all--cards span {
    font-size: 1.2rem;
    color: #9b9dad;
}

.individual__all--cards p {
    font-size: 1.1rem;
    color:  #9193a3;
    font-weight: 400;
    font-style: italic;
}

.individual__all--cards button {
    margin-top: 3rem;
    color: #ffffff;
    background-color: #444857;
    text-align: center;
    width: 130px;
    height: 45px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1.125rem;
    transition: 0.2s;
    font-weight: 600;
}

.individual__all--cards button:hover{
    cursor: pointer;
    transform: translateY(-0.3rem);
} 

.individual__all--cards button:active {
    transform: translateY(-1px);
    border: 2px solid black;
}

.individual__card--1 {
    border-top-color:  #444857;
    box-shadow: 0px 2px 1px 0px  #444857;

}

.individual__card--1 button:active {
    border-color: black;
}

.individual__card--2{
    border-top-color:  #0ebeff;
    box-shadow: 0px 2px 1px 0px #00B2F4;
}

.individual__card--2 button {
    background-color:  #0ebeff;
}

.individual__card--3{
    border-top-color:  #ae63e4;
    box-shadow: 0px 2px 1px 0px #ae63e4;
}

.individual__card--3 button {
    background-color: #ae63e4;
}

.individual__card--4{
    border-top-color:  #47cf73;
    box-shadow: 0px 2px 1px 0px #47cf73;
}

.individual__card--4 button {
    background-color: #47cf73;
}

.individual__bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.individual__bottom div {
    width: 23%;
    margin-top: 1.3rem;
    color: black;
    font-size: 1.200rem;
    line-height: 1.5;
}

.individual__bottom li {
    list-style: none;
    position: relative;
}

.individual__ul--1 li::before {
    position: absolute;
    content: url(../../assets/checked--gray.png);
    top: 2px;
    left: -22px;
}
.individual__ul--2 li::before {
    position: absolute;
    content: url(../../assets/checked--blue.png);
    top: 2px;
    left: -22px;
}

.individual--li--2:first-child::before{
 position: absolute;
 content: url(../../assets/back--blue.png);
 top: 3px;
 left: -22px;
}

.individual__ul--3 li::before {
    position: absolute;
    content: url(../../assets/checked--purple.png);
    top: 2px;
    left: -22px;
}

.individual--li--3:first-child::before{
 position: absolute;
 content: url(../../assets/back--purple.png);
 top: 2px;
 left: -22px;
}

.individual__ul--4 li::before {
    position: absolute;
    content: url(../../assets/checked--green.png);
    top: 2px;
    left: -22px;
}

.individual--li--4:first-child::before{
 position: absolute;
 content: url(../../assets/back--green.png);
 top: 2px;
 left: -22px;
}

.plans__team {
    width: 1000px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-top: 1.5rem;
    display: block;
}

.team__show--container{
    display: none;
}

.plans__team--top{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    padding: 0.5rem;
}

.team__top--description{
    width: 35%;
    font-size: 1.1rem;
    padding: 10px;
}

.team__top--description h3 {
    font-size: 2.5rem;
    margin: 6px auto -6px auto;
}

.team__top--size {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end ;
    font-size: 1.3rem;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.team__top--size h4 {
    position: relative;
    margin-bottom: 1.5rem;

}

.team__top--size h4::before {
    content: url(../../assets/grupo.png);
    position: absolute;
    top: -5rem;
    left: 10px;
}

.team__top--size--input {
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30px;
    padding: 15px 0px;
    margin-bottom: 0.5rem;
}


.team__top--size--input button {
    font-size: 2rem;
    cursor: pointer;
    width: 4rem;
    align-self: center;
    height: 100%;
    line-height: 4px;
    color: rgb(255, 255, 255);
    background-color: rgb(68, 72, 87);
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
}


.team__top--size--input button:hover {
    background-color: rgb(90, 96, 116);
    transform: translateY(-3px);
}

.team__top--size--input button:active {
    transform: translateY(-1px);
}


.team__top--facturation {
    width: 29%;
}

#left__button--size--team {
    line-height: 29px;
}

.team__top--facturation{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    text-align: center;
}


.team__top--facturation p strong::before{
    content: "$";
    color: rgb(68, 72, 87);
    position: absolute;
    font-size: 1.5rem;
    top: -0.3rem;
    left: -1rem;
}

.team__top--facturation p strong{
    font-size: 2rem;
    position: relative;
    color: black;
}

.team__top--facturation p {
    font-size: 1rem;
    color: #8d8d8d;
    font-weight: 600;
    line-height: 1.3;
    margin-top: 1.5rem;
}

.team__top--facturation span {
    color: #8d8d8d;
    font-style: italic;
}

.team__top--facturation button {
    width: 100px;
    margin: 40px auto auto auto;
    background-color: #47cf73;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1.125rem;
    transition: 0.2s;
    font-weight: bold;
    cursor: pointer;
}

.team__top--facturation button:hover {
    transform: translateY(-3px);
}

.team__selection--hr {
    margin-top: 60px;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.plans__team--bottom{
    display: flex;
    justify-content: flex-start;
    margin-top: 4rem;
}

.plans__team--bottom--h4--container {
    width: 20%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 1rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: center;
    margin-right: 4rem;
    border-right: 5px solid #ffdd40;
}

.plans__team--bottom--h4--container h4{
    position: relative;
}

.plans__team--bottom--h4--container h4::before{
    position: absolute;
    content: url(../../assets/grupo.png);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
}

.plans__team--bottom--ul--1--container {
    width: 33%;
}

.plans__team--bottom--ul--1--container ul {
    list-style: none;
    font-size: 1.1rem;
    line-height: 1.6;
}
.plans__team--bottom--ul--1--container ul li{
    position: relative;
}

.plans__team--bottom--ul--1--container ul li::before{
    content: url(../../assets/checked--lila.png);
    top: 2px;
    left: -22px;
    position: absolute;

}

.plans__team--bottom--ul--2--container {
    width: 33%;
}

.plans__team--bottom--ul--2--container ul {
    list-style: none;
    font-size: 1.1rem;
    line-height: 1.6;
}

.plans__team--bottom--ul--2--container ul li {
    position: relative;
}

.plans__team--bottom--ul--2--container ul li::before{
    content: url(../../assets/checked--lila.png);
    top: 2px;
    left: -22px;
    position: absolute;
}

.plans__team--bottom--paragraph {
    height: 20px;
    padding: 2rem;
    text-align: center;
    background: rgb(231, 208, 247);
    border-radius: 8px;
    margin: 2rem auto 2rem auto;
    width: 88%;
    font-size: 1.1rem;
    line-height: 0;
}

.plans__team--bottom--paragraph p {
    margin: 0.7rem auto auto auto;
}

.word--pro{
    background-color: #ffdd40;
    width: 17%;
    font-size: 1rem;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: 600;
}